<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/dinhdang.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>Đăng Ký</title>
</head>
<style>

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
</style>
<body>
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
              <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">Đăng Ký</h5>
                <form name="frmUser">
                  <div class="form-floating mb-3">
                    <label for="floatingInputUsername">Tài khoản</label>
                    <input type="text" class="form-control" id="floatingInputUsername" placeholder="Tài khoản" ng-model="Student.username" required autofocus> 
                    <i ng-hide="frmUser.username.$valid" class="text-danger float-end">vui lòng nhập tài khoản !</i>
                  </div>
                  
                  <div class="form-floating mb-3">
                    <label for="floatingPassword">Mật khẩu</label>
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Mật khẩu" ng-model="Student.password">
                    <i ng-hide="frmUser.password.$valid"  class="text-danger float-end">vui lòng nhập mật khẩu !</i>
                  </div>

                  <div class="form-floating mb-3">
                    <label for="floatingFullname">Họ và tên</label>
                    <input type="text" class="form-control" id="floatingFullname" placeholder="Họ và tên" ng-model="Student.fullname">
                    <i ng-hide="frmUser.password.$valid"  class="text-danger float-end">vui lòng nhập họ tên !</i>
                  </div>

                  <div class="form-floating mb-3">
                    <label for="floatingInputEmail">Địa chỉ email</label>
                    <input type="email" class="form-control" id="floatingInputEmail" placeholder="Name@gmail.com" ng-model="Student.email">
                    <i ng-hide="frmUser.password.$valid"  class="text-danger float-end">vui lòng nhập email !</i>
                  </div>
    
                  
                  <label class="bg-white indigo-text rounded px-2" for=""></i>Giới tính:</label>
                    <div class="form-check form-check-inline">
                        <input ng-model="studentR.gender" type="radio" class="form-check-input" id="gender" name="gender" value="true" ng-model="Student.gender">
                        <label class="form-check-label indigo-text" for="gender">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input ng-model="studentR.gender" type="radio" class="form-check-input" id="gender2" name="gender" value="false" ng-model="Student.gender">
                        <label class="form-check-label indigo-text" for="gender2">Nữ</label>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <label for="floatingBirthday">Ngày sinh</label>
                        <input type="date" class="form-control" id="floatingBirthday" placeholder="Ngày sinh"  ng-model="Student.birthday">
                        <i ng-hide="frmUser.password.$valid"  class="text-danger float-end">vui lòng nhập ngày sinh !</i>
                    </div>


                  <div class="d-grid mb-2">
                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" ng-click="dangky()" type="submit">Đăng ký</button>
                  </div>
    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

</html>
<script src="js/jquery-3.3.1.min.js"> </script>
<script src="js/popper.min.js"> </script>
<script src="js/bootstrap.min.js"> </script>