<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="card-columns">
                <div class="card mt-2 text-center">
                    <img src="images/logos/ADAV.jpg" class="card-img-top w-100 mt-2" id="img" height="160px">

                    <div class="card-footer font-weight-bold">
                        Lập trình Android nâng cao
                    </div>
                </div>
                <div class="card mt-2 text-center">
                    <img src="images/logos/DBBS.png" class="card-img-top w-100 mt-2" id="img" height="160px">

                    <div class="card-footer font-weight-bold">
                        Cơ sở dữ liệu
                    </div>
                </div>
                <div class="card mt-2 text-center">
                    <img src="images/logos/WEBU.jpg" class="card-img-top w-100 mt-2" id="img" height="160px">

                    <div class="card-footer font-weight-bold">
                        Xây dựng trang web
                    </div>
                </div>
                <div class="card mt-2 text-center">
                    <img src="images/logos/DBAV.png" class="card-img-top w-100 mt-2" id="img" height="160px">

                    <div class="card-footer font-weight-bold">
                        SQL Server
                    </div>
                </div>
                <div class="card mt-2 text-center">
                    <img src="images/logos/JAAV.png" class="card-img-top w-100 mt-2" id="img"
                        height="160px">

                    <div class="card-footer font-weight-bold">
                        Java
                    </div>
                </div>
                <div class="card mt-2 text-center">
                    <img src="images/logos/GAME.png" class="card-img-top w-75 mt-2" id="img" height="160px">

                    <div class="card-footer font-weight-bold">
                        Lập trình game
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example" class="offset-5 mt-5">
                <ul class="pagination ">
                    <li class="page-item"><a class="page-link bg-dark" href="" ng-click="first()">First</a></li>
                    <li class="page-item"><a class="page-link bg-dark" href="" ng-click="prev()">Prev</a></li>
                    <li class="page-item"><a class="page-link bg-dark" href="" ng-click="next()">Next</a></li>
                    <li class="page-item"><a class="page-link bg-dark" href="" ng-click="last()">Last</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>